<h1>Grades</h1>

<table>
  <thead>
	<tr>
  	   <th>Name</th>
  	   <th>Course</th>
  	   <th>ID Number</th>
  	   <th>Prelim</th>
  	   <th>Midterm</th>
  	   <th>Prefinal</th>
  	   <th>Final</th>
	</tr>
  </thead>



</table>




